.container {
  background: #484848;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icon {
  max-width: 40px;
  min-width: 40px;
  margin: 20px;
}
